<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form</title>

    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
</head>
<body>
<header>
    <img src="logo.png" class="logo">
    <h1 class="title">LOVE FACTORY</h1>
    <p id="subtitle">The factory of love</p>
</header>
<div class="container">
    <form th:action="@{/save}" th:object="${consulting}" method="POST">
        <div class="card">
            <div class="card-header">
                <h3 >Consulta</h3>
            </div>
            <div class="card-body">
                <div class="form-id">
                    <div >
                        <label>ID</label>
                    </div>
                    <div>
                        <input th:field="*{id}" type="text" class="form-control" />
                    </div>
                </div>
                <div>
                    <div class="label">
                        <label>Motivo</label>
                    </div>
                    <div>
                        <input th:field="*{title}" type="text" class="form-control" />
                    </div>
                </div>
                <div>
                    <div class="label">
                        <label>Descripción</label>
                    </div>
                    <div>
                        <textarea th:field="*{description}" type="text" class="form-control"></textarea>
                    </div>
                </div>
                <div>
                    <div class="label">
                        <label>¿Quién eres?</label>
                    </div>
                    <div>
                        <input th:field="*{user}" type="text" class="form-control" />
                    </div>
                </div>
                <button type="submit" class="btnSave" >Guardar</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>